* {
  box-sizing: border-box;
}

html {
  font-family: "Carme", sans-serif;
  height: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  height: 100%;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LANDING PAGE STUFF */

.landingPageBackgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landingPageTitle {
  text-align: center;
  font-weight: 750;
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 8vh;
}

form {
  position: absolute;
  top: 37.5%;
  margin: auto 25%;
  padding: auto;
}

.landingPageSearch {
  border: 1px solid darkgrey;
  border-radius: 20px;
  width: 50vw;
  margin: auto;
  text-align: center;
  font-size: 3vh;
}

.landingPageCannotDecide {
  text-align: right;
  font-size: 15px;
  color: white;
  font-weight: 200;
  cursor: pointer;
}

.landingPageCards {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* LANDING PAGE CARDS STUFF */

.landingPageCard1,
.landingPageCard2,
.landingPageCard3 {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* .landingPageCard1:hover,
.landingPageCard2:hover,
.landingPageCard3:hover {
  transform: scale(1.2);
  border-radius: 25px;
  box-shadow: 0px 20px 20px black;
} */

.landingPageCardCountry {
  margin-top: 10%;
}

.flip-card {
  background-color: transparent;
  width: 25%;
  height: 25vh;
  perspective: 1000px;
  margin: 20px;
  border-radius: 25px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  border-radius: 25px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 25px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 25px;
}

.loginForm {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 20vh;
}
